#filtro{
    border: solid red;

}

body{
    background-color: white;
    
}

.container{
    background-color:#FB6F92;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-weight: bold;
    height: 90vh;
    width: 100%;
}

footer{
    border: solid red;
    display: flex;
  
    align-items: center;
    justify-content:space-around;

    

}

#filtro{
    width: 62px;
}

.itens{
    width: 30.89px;
}
