* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: white;
    overflow: hidden;
}

header {
    background-color: #FB6F92;
    display: flex;
    justify-content: center;
    width: 100%;
}

header img {
    width: 5.5rem;
}

#pag-inicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

#pag-inicial img {
    width: 4.125rem;
    height: 4.25rem;
}


#pag-inicial h1 {
    padding-top: 0.7rem;
    color: #FB6F92;
    font-size: 1.7rem;
    width: 25rem;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.inputs {
    width: 85%;
    height: 5vh;
    border-width: 1px;
    border-radius: 0.5rem;
    padding: 10px;
}

.inputs:focus {
    outline: none;
    border-color: #FB6F92;
}


.icones {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}

.icones img {
    width: 2.313rem;
    height: 2.313rem;
}

.nav-icones {
    width: 100%;
    display: flex;
    justify-content: center;
}

#login {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}

#login button {
    width: 20rem;
    padding: 0.75rem;
    border-radius: 1.3rem;
    background-color: #FB6F92;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 14px;
}

#login a {
    text-decoration: none;
    color: #808080;
    font-weight: bolder;
    font-size: 14px;
}

#footer {
    padding-top: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #FB6F92;
}

#footer a {
    text-decoration: none;
    color: #3296F1;
}